<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>SiFiSha - {{.CurrentDir}}</title>
    <link rel="stylesheet" href="/static/water.css" />
  </head>

  <body>
    <h1>{{.CurrentDir}}</h1>
    <ul>
      <li><a href="{{ .PathOneLevelUp }}">🔙 Back</a></li>
      {{range .Dirs}}
        <li><a href="{{.Name}}/">📁 {{.Name}}</a></li>
      {{end}}
    </ul>
    <ul>
      {{range .Files}}
        <li><a href="{{.Target}}/">📄 {{.Name}}</a> <div style="float: right">{{.Size}}</div></li>
      {{end}}
    </ul>
    <footer>
      <a href="/">Go Home</a>
    </footer>
  </body>
</html>
