<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>SiFiSha - GH Orgs</title>
    <link rel="stylesheet" href="/static/water.css" />
  </head>

  <body>
    <h1>Orgs</h1>
    <ul>
        <li><a href="/">🏠 Home</a></li>
      {{range .Orgs}}
        <li><a href="{{.}}/">🏢 {{.}}</a></li>
      {{end}}
    </ul>
    <footer>
      <a href="/">Go Home</a>
      <a href="/oauth/github/logout">Logout</a>
    </footer>
  </body>
</html>
