<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>SiFiSha - Success</title>
    <link rel="stylesheet" href="/static/water.css" />
  </head>

  <body>
    <h1>Success!</h1>
    <h2>{{.Message}}</h2>
    <footer>
      <a href="/">Go Home</a>
    </footer>
  </body>
</html>
