<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>SiFiSha - Success</title>
    <link rel="stylesheet" href="/static/water.css" />
  </head>

  <body>
    <h1>{{.Org}}</h1>
    {{ if .NoUserTeams }}
      <p> It seems you are either not a member of any team in this organization,
        or you have to grant this site access to this organization under
        the <a href="https://github.com/settings/connections/applications/{{.ClientID}}">GitHub settings</a>.</p>
    {{ end }}
    <ul>
      <li><a href="/gh/">🔙 Back</a></li>
      {{range .Teams}}
        <li><a href="{{.}}/">🫂 {{.}}</a></li>
      {{end}}
    </ul>
    <footer>
      <a href="/">Go Home</a>
    </footer>
  </body>
</html>
